.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 250ms ease-in-out;
}
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal{
  width: 35rem;
  display: block;
  top: '50%';
  left: '50%';
  right:auto;
  bottom: auto;
  text-align: center;
  border: none;
  outline: none;
}
