.movie{
  display: inline-table;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  border: 1px solid black;
  width: 30rem;
  color: #DE94AF;
  background-color: #4A001B;
}
.movieWrapper{
  display: inline-table;
}
.title{
  font-weight: bold;
  margin: $small-size;
  width: 29rem;
  overflow: hidden;
}

.summary {
  display: inline-flex;
  margin: 0 auto;
  width: 28rem;
  height: 23.5rem;
  overflow: hidden;
  text-align: left;
}